extends layout

block title
  | Agenda de Consultorios

block content
  h1.mb-4 Agenda de Atención

  div.mb-3
    a(href='/agendas/nueva' class="btn btn-primary") + Crear Agenda
    a(href='/' class="btn btn-secondary ms-2") Volver al inicio

  form(action='/agendas', method='GET', class="d-flex mb-4")
    input.form-control.me-2(
      type='text',
      name='buscar',
      placeholder='Buscar por profesional o especialidad',
      value=buscar
    )
    button.btn.btn-outline-success(type='submit') Buscar

  if agenda.length > 0

    - let agendaActual = null
    - const dias = ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo']

    each item in agenda

      // 🔹 Cuando cambia la agenda (no el profesional)
      if agendaActual !== item.agenda_id
        - agendaActual = item.agenda_id

        div.d-flex.justify-content-between.align-items-center.mt-4.border-bottom.pb-2
          h2.h4= item.nombre_completo
          // 🔥 BOTÓN EDITAR AGENDA COMPLETA
          a.btn.btn-warning.btn-sm(href=`/agendas/${item.agenda_id}/editar`) Editar Agenda Completa

      table.table.table-hover.mt-2
        thead
          tr
            th Especialidad
            th Día
            th Desde
            th Hasta
            th Duración (min)
            th Máx. Sobreturnos
            th Sucursal
            th Acciones
        tbody
          tr
            td= item.especialidad
            td= dias[item.dia_semana - 1]
            td= item.hora_inicio
            td= item.hora_fin
            td= item.duracion_turno
            td= item.max_sobreturnos
            td= item.sucursal || 'Sin sucursal'
            td
              a(href=`/agendas/${item.agenda_id}` class="btn btn-info btn-sm me-1") Ver
              
  else
    p.alert.alert-info No hay agendas cargadas.