doctype html
html
  head
    title Agenda de Consultorios
    link(rel='stylesheet', href='/styles.css')

  body
    h1 Agenda de Atención

    if agenda.length > 0

      - let profesionalActual = null
      - const dias = ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo']

      each item in agenda

        if profesionalActual !== item.nombre_completo
          - profesionalActual = item.nombre_completo
          h2(style="margin-top:30px; border-bottom:2px solid #ccc; padding-bottom:5px;")
            = item.nombre_completo

        table(style="margin-bottom:15px;")
          thead
            tr
              th Especialidad
              th Día
              th Desde
              th Hasta
              th Duración (min)
              th Máx. Sobreturnos  

          tbody
            tr
              td= item.especialidad
              td= dias[item.dia_semana - 1]
              td= item.hora_inicio
              td= item.hora_fin
              td= item.duracion_turno
              td= item.max_sobreturnos

    else
      p No hay agendas cargadas.

    br
    a(href='/') Volver al inicio
