extends layout

block title
  | Ausencias

block content
  h1 Lista de Ausencias

  div.mb-3
    a(href="/" class="btn btn-secondary me-2") ← Volver al inicio
    a(href="/ausencias/nueva" class="btn btn-primary") Nueva Ausencia

  table.table.table-striped
    thead
      tr
        th Profesional
        th Desde
        th Hasta
        th Motivo
        th Acciones
    tbody
      each a in ausencias
        tr
          td= a.nombre_completo
          td= a.fecha_inicio
          td= a.fecha_fin
          td= a.motivo
          td
            a(href=`/ausencias/${a.id}/editar` class="btn btn-sm btn-warning") Editar