extends layout

block title
  | Ausencias

block content
  h1 Lista de Ausencias

  // 🔍 BUSCADOR
  div.d-flex.gap-2.mb-3
    form(method="GET" action="/ausencias" style="flex:1; display:flex; gap:8px;")
      input.form-control(
        type="text"
        name="buscar"
        placeholder="Buscar por profesional o motivo"
        value=buscar
      )
      button.btn.btn-primary(type="submit") Buscar

    a.btn.btn-secondary(href="/ausencias") Mostrar todos

  div.mb-3
    a(href="/" class="btn btn-secondary me-2") ← Volver al inicio
    a(href="/ausencias/nueva" class="btn btn-primary") Nueva Ausencia

  table.table.table-striped
    thead
      tr
        th Profesional
        th Desde
        th Hasta
        th Motivo
        th Acciones
    tbody
      each a in ausencias

        tr(class={
          'turno-recien-creado': a.recienCreado,
          'turno-recien-editado': a.recienEditado
        })

          td= a.nombre_completo
          td= a.fecha_inicio
          td= a.fecha_fin
          td= a.motivo
          td
            a(
              href=`/ausencias/${a.id}/editar`
              class="btn btn-sm btn-warning"
            ) Editar
  div.mb-4
    a(href="/" class="btn btn-secondary me-2") ← Volver al inicio
    a(href="/ausencias/nueva" class="btn btn-primary") Nueva Ausencia