extends layout

block title
  | Detalle del Turno

block content
  h1 Detalle del Turno

  if turno
    ul
      li ID del Turno: #{turno.id}
      li Paciente: #{turno.paciente}
      li Profesional: #{turno.profesional}
      li Fecha: #{turno.fecha}
      li Hora: #{turno.hora.substring(0,5)}
      li Estado: #{turno.estado}
      li Tipo de turno: #{turno.tipo_turno === 'sobreturno' ? 'Sobreturno' : 'Normal'}

    form(action=`/turnos/${turno.id}/editar`, method='POST')
      .mb-3
        label.form-label(for='estado') Cambiar estado:
        select.form-select(name='estado')
          option(value='Libre', selected=turno.estado === 'Libre') Libre
          option(value='Reservada', selected=turno.estado === 'Reservada') Reservada
          option(value='Confirmado', selected=turno.estado === 'Confirmado') Confirmado
          option(value='Cancelado', selected=turno.estado === 'Cancelado') Cancelado
          option(value='Ausente', selected=turno.estado === 'Ausente') Ausente
          option(value='Presente', selected=turno.estado === 'Presente') Presente
          option(value='En consulta', selected=turno.estado === 'En consulta') En consulta
          option(value='Atendido', selected=turno.estado === 'Atendido') Atendido

      button.btn.btn-primary(type='submit') Guardar Cambios

  else
    p Turno no encontrado

  if usuario && usuario.rol === 'medico'
    a.btn.btn-secondary.mt-3(href='/mis-turnos') Volver a Mis Turnos
  else
    if usuario.rol === 'medico'
      a.btn.btn-secondary(href="/mis-turnos")
        | Volver a Mis Turnos
    else
      a.btn.btn-secondary(href="/turnos")
        | Volver a la lista de turnos
  br
  a(href='/') Volver al inicio