doctype html
html
  head
    title Editar Turno
    link(rel='stylesheet', href='/styles.css')

  body
    h1 Editar Turno

    form(action=`/turnos/${turno.id}/editar`, method='POST')

      div
        label Paciente:
        select(name='paciente_id' required)
          each p in pacientes
            option(
              value=p.id
              selected=(p.id == turno.paciente_id)
            )= p.nombre

      div
        label Profesional:
        select(name='profesional_id' id='profesionalSelect' required)
          each pr in profesionales
            option(
              value=pr.id
              selected=(pr.id == turno.profesional_id)
            )= pr.nombre_completo

      div
        label Especialidad:
        select(name='especialidad_id' id='especialidadSelect' required)
          each e in especialidades
            option(
              value=e.id
              selected=(e.id == turno.especialidad_id)
            )= e.nombre


      div
        label Sucursal:
        select(name='sucursal_id' required)
          each s in sucursales
            option(
              value=s.id
              selected=(s.id == turno.sucursal_id)
            )= s.nombre

      div
        label Fecha:
        input(type='date', name='fecha', value=turno.fecha, required)

      div
        label Hora:
        select(name="hora" required)
          each h in ["08:00","08:30","09:00","09:30","10:00","10:30","11:00","11:30","12:00","16:00","16:30","17:00","17:30"]
            option(value=h selected=(h == turno.hora))= h


      div
        label Estado:
        select(name='estado')
          option(value='pendiente' selected=turno.estado=='pendiente') Pendiente
          option(value='confirmado' selected=turno.estado=='confirmado') Confirmado
          option(value='cancelado' selected=turno.estado=='cancelado') Cancelado

      button(type='submit') Guardar Cambios

    a(href='/turnos') Volver


    script.
      const profesionalSelect = document.getElementById('profesionalSelect');
      const especialidadSelect = document.getElementById('especialidadSelect');

      const especialidadActual = parseInt("#{turno.especialidad_id}");

      async function cargarEspecialidades(profesionalId) {
        if (!profesionalId) return;

        especialidadSelect.innerHTML = '<option>Cargando...</option>';

        const res = await fetch(`/profesionales/${profesionalId}/especialidades`);
        const data = await res.json();

        especialidadSelect.innerHTML = '<option value="">Selecciona especialidad</option>';

        data.forEach(e => {
          const option = document.createElement('option');
          option.value = e.id;
          option.textContent = e.nombre;

          if (e.id === especialidadActual) {
            option.selected = true;
          }

          especialidadSelect.appendChild(option);
        });
      }

      // carga inicial
      cargarEspecialidades(profesionalSelect.value);

      // cambio dinámico
      profesionalSelect.addEventListener('change', () => {
        cargarEspecialidades(profesionalSelect.value);
      });
