extends layout

block title
  | Pacientes

block content
  h1 Pacientes
  if pacientes.length > 0
    table.table.table-striped
      thead
        tr
          th ID
          th Nombre
          th DNI
          th Obra Social
          th Contacto
          th Acciones
      tbody
        each paciente in pacientes
          tr
            td= paciente.id
            td= paciente.nombre
            td= paciente.dni
            td= paciente.obra_social
            td= paciente.contacto
            td
              a(href=`/pacientes/${paciente.id}` class="btn btn-info btn-sm me-1") Ver Detalle
              a(href=`/pacientes/${paciente.id}/editar` class="btn btn-warning btn-sm") Editar
  else
    p.alert.alert-info No hay pacientes disponibles.
  
  div.mt-3
    a(href='/pacientes/nuevo' class="btn btn-primary") Crear nuevo paciente
    a(href='/' class="btn btn-secondary ms-2") Volver al inicio
