extends layout

block title
  | Pacientes

block content
  h1 Pacientes

  div.d-flex.gap-2.mb-3
    form(method="GET" action="/pacientes" style="flex:1")
      input.form-control(
        type="text"
        name="dni"
        placeholder="Buscar por DNI"
        value=dni
      )

    button.btn.btn-primary(type="submit" formmethod="GET") Buscar
    a.btn.btn-secondary(href="/pacientes") Mostrar todos
  
  div.mb-3.d-flex.gap-2
    a(href="/pacientes/nuevo" class="btn btn-primary") Crear nuevo paciente
    a(href="/" class="btn btn-secondary") Volver al inicio

  if pacientes.length === 0
    p.alert.alert-warning Paciente no encontrado.
    a.btn.btn-primary(href="/pacientes/nuevo") Crear nuevo paciente
  else
    table.table.table-striped
      thead
        tr
          th ID
          th Nombre Completo
          th DNI
          th Obra Social
          th Contacto
          th Acciones
      tbody
        each paciente in pacientes
          tr(
            class=
              paciente.recienCreado
              ? 'table-success'
              : paciente.recienEditado
              ? 'table-warning'
              : ''
          )
            td= paciente.id
            td= paciente.nombre

              if paciente.recienCreado
                span.badge.bg-success.ms-2 NUEVO

              if paciente.recienEditado
                span.badge.bg-warning.text-dark.ms-2 EDITADO

            td= paciente.dni
            td= paciente.obra_social
            td= paciente.contacto
            td
              a(href=`/pacientes/${paciente.id}` class="btn btn-info btn-sm me-1") Ver Detalle
              a(href=`/pacientes/${paciente.id}/editar` class="btn btn-warning btn-sm me-1") Editar
              a(href=`/turnos/nuevo?paciente_id=${paciente.id}` class="btn btn-success btn-sm") Asignar Turno

  div.mt-3
    a(href='/pacientes/nuevo' class="btn btn-primary") Crear nuevo paciente
    a(href='/' class="btn btn-secondary ms-2") Volver al inicio