extends layout

block title
  | Lista de Turnos

block content
  h1 Lista de Turnos

  
  // 🔔 MENSAJES FLASH
  div#toast-container.position-fixed.top-0.end-0.p-3(style="z-index: 9999")

  // 🔍 BUSCADOR
  form(method="GET" action="/turnos")
    .row.g-2.mb-3

      .col-md-6
        input.form-control(
          type="text"
          name="q"
          placeholder="Buscar paciente, profesional o especialidad"
          value=q
        )

      .col-md-3
        input.form-control(
          type="date"
          name="fecha"
          value=fecha
        )

      .col-md-3.d-flex.gap-2
        button.btn.btn-primary(type="submit")
          | Buscar

        a.btn.btn-secondary(href="/turnos")
          | Mostrar todos

  // 🔽 BOTONES ABAJO
  div.d-flex.gap-2.mb-3
    a.btn.btn-primary(href="/turnos/nuevo") Crear nuevo turno
    a.btn.btn-secondary(href="/") Volver al inicio
  
  hr

  div.card.shadow.mb-4
    div.card-body
      #calendar

  

  if turnos.length > 0
    table.table.table-striped
      thead
        tr
          th Paciente
          th Profesional
          th Especialidad
          th Sucursal
          th Fecha
          th Hora
          th Estado
          th Tipo
          th Acciones
      tbody
        
        each turno in turnos
          tr(class={
            'turno-recien-creado': turno.recienCreado,
            'turno-recien-editado': turno.recienEditado
          })
                    
          
            td= turno.paciente_nombre
            td= turno.profesional_nombre
            td= turno.especialidad_nombre
            td= turno.sucursal_nombre
            td= turno.fecha
            td= turno.hora.substring(0,5)
            td= turno.estado
            td= turno.tipo_turno || 'normal'
            td
              form(action=`/turnos/${turno.id}/eliminar`, method='POST', style='display:inline')
                button(type='submit' class='btn btn-danger btn-sm me-1') Eliminar
              a(href=`/turnos/${turno.id}/editar` class='btn btn-warning btn-sm me-1') Editar
              a(href=`/turnos/${turno.id}` class='btn btn-info btn-sm') Ver Detalle
  else
    p.alert.alert-info No hay turnos disponibles.

  div.mt-3
    a(href='/turnos/nuevo' class="btn btn-primary") Crear nuevo turno
    a(href='/' class="btn btn-secondary ms-2") Volver al inicio



  